$azul: #046AD0;
$botao: #046AD0;
$cinza: #5D5F5D;
$botoes:#FDFDFD;
$azul-indicador:#1165BA;
$gelo: #C5C7C5;
$margin-box: 20px ;
$cinza-termo:#D7D9D7;
$error: #C1292E;


.divlogo{
    width: 70%;
    height: 100vh;   
}

.logo{
    width: 100%;
    height: 715px;
}

.souj{
    width: 65%;
    height: 53px;
}
.layout{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    background: linear-gradient(303.77deg, rgba(17, 101, 186, 0.79) 34.68%, rgba(90, 156, 255, 0.79) 79.96%), linear-gradient(303.77deg, rgba(217, 217, 217, 0) -1.3%, rgba(17, 101, 186, 0.79) 54.57%);
}

.boxLogin{
    width: 26.3%;
    min-width: 150px;
    height: 658px;
    background-color: $botoes;
    border-radius: 12px;
    margin: 60px;
    margin-left: auto;
 
}

.login{
margin: $margin-box;

}

.title{
    width: 241px;
    height: 55px;
    color: $azul;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.asteristico{
color: $azul-indicador;
}

.indica{
    color: $cinza;
    font-family: 'Radio Canada';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    height: 20px;
}

.nomes{
    font-family: 'Radio Canada';
    font-style: normal;
    font-size: 14px;
    color: $cinza;
}
    

.botoes{
    width: 100%;
    height: 50px;
    margin-top: 5px;
}

.inputs{
    position: flex;
    width: 100%;
    height: 29px;
    background: $botoes;
    border-radius: 5px;
    border: $cinza 1px solid; 
}   

@media only screen and (max-width:1000px){
    .inputs{
        position: flex;
        width: 100%;
        height: 29px;
        background: $botoes;
        border-radius: 5px;
        border: $cinza 1px solid;   
    }
}
    
.date{
        position: flex;
        width: 80%;
        height: 29px;
        color: $cinza;
        background: $botoes;
        border-radius: 5px;
        border: $cinza 1px solid;    

}


.termo{
    margin: 16px;
    margin-top: -19px;
    display: block;
    color: $azul-indicador;
    font-family: 'Radio Canada';
    font-size: 14px;
    .termos{
        text-decoration: underline;
        border: none;
        background: none;
        color: $azul-indicador;
    }
}

.check{
    height: 35px;
    margin-top: -5px;
    display: block;
    justify-content: center;
}

.buttons{
display: flex;
text-align:center ;
justify-content: center;
padding: 5px;
}

.inputs:focus{
border: 1px solid $azul;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
-webkit-box-shadow: 0px 0px 15px 1px $azul;
-moz-box-shadow: 0px 0px 15px 1px $azul;
box-shadow: 0px 0px 5px 0px $azul;
border:1px solid $azul;
outline:none;
}

.date:focus{
    border: 1px solid $azul;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -webkit-box-shadow: 0px 0px 15px 1px $azul;
    -moz-box-shadow: 0px 0px 15px 1px $azul;
    box-shadow: 0px 0px 5px 0px $azul;
    border:1px solid $azul;
    outline:none;
    }

    .containerModal{
        width: 100%;
        height: 110px;
        display: inline-block;
        text-align: center;
        justify-content: center;
    }
    
.concluir{
    display: inline-block;
    width: 85%;
    height: 42px;
    background:$botao;
    border-radius: 8px;
    color: $gelo;
    border: none;
    margin: 5px;
    }
    
    .cancelar{
        display: inline-block;
        width: 85%;
        height: 42px;
        background: #FDFDFD;;
        border-radius: 8px;
        color: $cinza;
        }

    .error{
        color:$error;
        font-size: 14px;
        
    }
    
    .senhaDefinicao{
        border: none;
        background: none;
    }

    .chequeEmail{
        font-family: 'Radio Canada';
        font-style: normal;
        font-size: 24px;
        color: $azul-indicador;
        text-align: center;
        padding: 10px;
        margin-top: 10px;
    }

    .imagemModal{
        justify-content: center;
        display: flex;
        width: 230px;
        height: 150px;
        margin: 20PX;
        margin-top: -210px;
        position: absolute;
    }

    .confirmacao{
        font-family: 'Radio Canada';
        font-size: 14px;
        height: 45px;
        text-align: center;
        color: $cinza;
    }

    .logoModal{
        width: 100px;
        height: 20px;
    }
    
    .movimentoModal{
        font-family: 'Radio Canada';
        font-size: 14px;
        color: $azul-indicador;
    }

    .modalPai{
        margin: 20px;
        width: 300px;
        height: 150px;
        position: absolute;
        display: block;
        text-align: center;
        top: 50%;
        background: $botoes;
        padding: 5px;
        border-radius: 8px;
        left: 50%;
        transform: translate(-50%,-50%);
        }

        .modalChequeEmail{
            margin: 20px;
            width: 330px;
            height: 400px;
            position: absolute;
            display: block;
            text-align: center;
            top: 50%;
            background: $botoes;
            padding: 5px;
            border-radius: 8px;
            left: 50%;
            transform: translate(-50%,-50%);
            }

    .ModalFilho{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }   
    
    .modal{
        text-align:right ;
        justify-content: right;
        width: 40px;
        height: 25px;
        background: none;
        border: none;
        position: absolute;
    }

    .fundoModal{
        width: 200px;
        text-align: center;
        justify-content: center;
        margin-top: -25px;
        height: 250px;
        color: black;
        position: relative;
    }

    .descartar{
        width: 125px;
        height: 25px;
        border-radius: 8px;
        background: #C1292E;
    }

    .cancelarModal{
        width: 125px;
        border-radius: 8px;
        height: 25px;
        background: $botoes;
    }

.cadastro{
font-family: 'Radio Canada';
font-weight: 700;
font-size: 24px;
color: #5D5F5D;
}

.informacoes{
font-family: 'Radio Canada';
font-size: 18px;
color: #5D5F5D;
}

.termoPai{
    margin: 20px;
    width: 35%;
    height: 350px;
    position: absolute;
    display: block;
    text-align: center;
    top: 50%;
    background: $botoes;
    padding: 5px;
    border-radius: 8px;
    left: 50%;
    transform: translate(-50%,-50%);
}
.senhaPai{
    margin: 20px;
    width: 20%;
    height: 120px;
    position: absolute;
    display: block;
    text-align: center;
    top: 50%;
    background: $botoes;
    padding: 5px;
    border-radius: 8px;
    left: 50%;
    transform: translate(124%,-50%);
}

.senhaEdit{
    font-size: 14px;
    font-family: 'Radio Canada';
    font-style: normal;
    margin-left: 10px;
    text-align: left;
    color: $azul-indicador;
}

.subSenha{
        font-size: 14px;
        font-family: 'Radio Canada';
        font-style: normal;
        margin-left: 10px;
        text-align: left;
        color: $cinza;
}

.buttonFecha{
    text-align: right;
    position: absolute;
    height: 20px;
    margin-top: 5px;
    border: none;
    background: none;
    color: $cinza;
    transform: translate(1350%,-50%);
}
.buttonModal{
    text-align: right;
    position: absolute;
    height: 20px;
    margin-top: 10px;
    font-size: 20px;
    border: none;
    background: none;
    color: $cinza;
    transform: translate(1000%,-50%);
}

.buttonTermo{
    text-align: right;
    position: absolute;
    height: 20px;
    margin-top: 10px;
    font-size: 20px;
    border: none;
    background: none;
    color: $cinza;
    transform: translate(1250%,10%);
}

.buttonPolitica{
    text-align: right;
    position: absolute;
    height: 20px;
    margin-top: 10px;
    font-size: 20px;
    border: none;
    background: none;
    color: $cinza;
    transform: translate(1250%,10%);
}

.backTermo{
    background-color: $cinza-termo;
    position: flex;
    width: 100%;
}