.backgroundImage {
  background: url("/public/images/BackgroundLogin.svg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.figures {
  position: absolute;
  width: 70%;
  height: 90%;
  top: 29px;
  left: -80px;
}