$azul: #046AD0;
$botao: #046AD0;
$cinza: #5D5F5D;
$botoes:#FDFDFD;
$azul-indicador:#1165BA;
$gelo: #C5C7C5;
$margin-box: 20px ;
$cinza-termo:#D7D9D7;
$error: #C1292E;


.containerModal{
    width: 100%;
    height: 42px;
    display: inline-block;
    text-align: center;
    justify-content: center;
}

.cancelar{
    display: inline-block;
    width: 85%;
    height: 42px;
    background: #FDFDFD;;
    border-radius: 8px;
    color: $cinza;
    }
