$primary-color: #046AD0;
$secondary-color: #5D5F5D;

.container {
  border: 1px solid $secondary-color;
  border-radius: 8px;
  height: 52px;
  width: 100%vw;
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  margin-bottom: 32px;
  transition: box-shadow 0.3s;

  &:hover {
    border: 1px solid $primary-color;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 8px;

    .image {
      background: url("../../../public/EmailHover.svg") no-repeat;
      background-position: 14px 14px;
    }
  }

  &:focus-within {
    border: 2px solid $primary-color;
    box-shadow: none;

    .image {
      background: url("../../../public/EmailSelected.svg") no-repeat;
      background-position: 14px 14px;
    }
  }
}

.image {
  background: url("../../../public/EmailDefault.svg") no-repeat;
  background-position: 14px 14px;
  padding-top: 15px;
  padding-left: 15px;
  width: 24px;
  height: 24px;
}

.input {
  padding: 0px 0px 0px 12px;
  border-style: none;
  background: transparent;
  outline: none;
  width: 80%;
  font-family: Radio Canada, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $secondary-color;
}