$azul: #046AD0;
$botao: #046AD0;
$cinza: #5D5F5D;
$botoes:#FDFDFD;
$azul-indicador:#1165BA;
$gelo: #C5C7C5;
$margin-box: 20px ;
$cinza-termo:#D7D9D7;
$error: #C1292E;


.botoes{
    width: 100%;
    height: 50px;
    margin-top: 5px;
}

.inputs{
    position: flex;
    width: 100%;
    height: 29px;
    background: $botoes;
    border-radius: 5px;
    border: $cinza 1px solid; 
}   

@media only screen and (max-width:1000px){
    .inputs{
        position: flex;
        width: 100%;
        height: 29px;
        background: $botoes;
        border-radius: 5px;
        border: $cinza 1px solid;   
    }
}
.inputs:focus{
    border: 1px solid $azul;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -webkit-box-shadow: 0px 0px 15px 1px $azul;
    -moz-box-shadow: 0px 0px 15px 1px $azul;
    box-shadow: 0px 0px 5px 0px $azul;
    border:1px solid $azul;
    outline:none;
    }