$font-form: Radio Canada, sans-serif;
$primary-color: #046AD0;
$secondary-color: #5D5F5D;

.formCard {
  box-sizing: border-box;
  position: absolute;
  width: 30%;
  height: fit-content;
  left: 65%;
  top: 10%;
  padding: 28px;
  display: flex;
  flex-direction: column;
  background-color: #FDFDFD;
  opacity: 0.9;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}

.logo{

  width: 80%;
  height: 39.47px;
}

.titulo {
  font: 100% $font-form;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: $primary-color;
  margin: 37.53px 0px 32px;
}

.texto {
  font: 100% $font-form;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $secondary-color;
  
}

.link {
  font: 100% $font-form;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $primary-color;

  a {
    text-decoration: underline;
    }
}

label {
  .link {
    float: right;

  }
}

p {
  .link {
    text-decoration: none;
  }
}

.botao {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  background: $primary-color;
  border-radius: 8px;
  border: none;
  color: #FDFDFD;
  font: 100% $font-form;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  margin-top: 32px;
  margin-bottom: 24px;
  transition: all 0.3s;


  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #003986;
  }
}

.error{
color: red;
margin: 4px 0px 16px;
}
